<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
  <%- include('partials/header', {title: 'Edit a Todo'}); %>
  <%- include('partials/form', {task: task, edit: true }) %>
</body>
</html>